@charset "UTF-8";

html {
    font-family: sans-serif;
}

/*Sempre que tiver a classe .row1, ele já faz um cliarfix para lidar com o float*/

.clearfix:after, .row1:after {
    content: '';
    display: block;
    clear: both;
}

.header-maxwidth {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oxygen", Arial, sans-serif;
}

a {
    text-decoration: none;
}

.main-header{
    text-align: center;
}

.page-title {
    margin: 0.5em;
}

.main-nav {
    background-color: #612674;
    text-align: center;
}

.main-nav ul {
    margin: 0;
    padding: 1em 0;
    list-style: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.9em;
}

.main-nav a:hover {
    background-color: #7f3597;  
}

.main-title, .row-title, .design-title {
    color: #612674;
}

.main-title {
    font-size: 1.40em;
    padding: 40px 70px 0 70px;;
}

.sub-paragraph {
    color: #9b64ad;
    font-size: 1em;
    margin: 30px 0 2px 0;
    padding: 13px 38px;
    line-height: 1.5;
    overflow: hidden;
}

.green-button {
    color: white;
    background-color: rgb(63, 196, 196);
    display: inline-block;
    padding: 13px 38px;
    border-radius: 5px;
}

.green-button:hover {
    background-color: rgb(43, 134, 134);
}

.excited-and-button {
    text-align: center;
    margin-bottom: -19px;
}

.icon-play {
    height: 5em;
    display: none;
}

.icon-play img {
    max-width: 100%;
    max-height: 100%;
}

.excited-and-button, .icon-and-description {
    background-color: rgb(243, 243, 243);
}

.excited-and-button .green-button {
    margin-bottom: 50px;
}

.row1 {
    text-align: center;
}

.row-title {
    text-transform: uppercase;
}

.row1-paragraph {
    padding: 0 40px;
    line-height: 1.5;
}

.col4-4 .row1-paragraph {
    padding-bottom: 50px ;
}

.icon-of-description {
    font-size: 60px;
    color: #612674;
}

.about-design {
    margin-left: 1em;
    padding: 1em 2.65em 2em 1em;
}

.block1-col-1, .block1-col-2, .block2-col-1, .block2-col-2 {
    margin-bottom: 60px;
}

.design-title {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.25em;
    letter-spacing:3px;
}

.main-footer {
    background: #25303e;
    color: #83969f;
    text-align: center;
}

.footer-icons {
    list-style: none;
    background-color: #303d4c;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer-icons li {
    display: inline-block;
    box-sizing: border-box;
}

.icon-facebook, .icon-twitter, .icon-google-plus {
    color: white;
    font-size: 1.25em;
    padding: 0.5em 1.5em 0.75em 0;
    display: inline-block;
}

/*Responsivo nivel 2*/

@media screen and (min-width: 48.75em) {

    .page-title {
        float: left;
    }

    .main-nav {
        background-color: transparent;
        float: right;
        margin-top: 30px;
    }

    .main-nav ul {
        margin: 0;
        padding: 0;
    }

    .main-nav ul li{
        display: inline-block;
    }

    .main-nav ul li a {
        color: #612674;
    }

    .main-nav ul li a:hover{
        background-color: #ae6cc463;
    }

    .excited-and-button {
        height: 20em;
    }

    .excited-and-button {
        background-color: #612674;
    }

    .icon-play {
        padding-top: 1em;
    }

    .main-title, .sub-paragraph {
        color: white;
        margin: 0;
    }

    .icon-play {
        display: block;
        
    }

    .icon-and-description {
        padding: 4em 0;
    }

    .col1-4 {
        width: 44%;
        margin: 3%;
        float: left;
    }

    .row2 .green-button {
        float: right;
    }

}

@media screen and (min-width: 62.5em) {
    
    .excited-and-button {
        background: #521a66 url(images/bg_topo_1198x670.jpg);
        background-position: center bottom;
        height: 20em;
        padding-top: 15em;
    }
}

@media screen and (min-width: 74em) {

    .excited-and-button {
        background: #521a66 url(images/bg_topo_1600x1374.jpg);
        padding: 19em 20em 10em;
        background-position: center top;
    }

    .icon-play {
        height: 7em;
    }

    .col1-4 {
        width: 23%;
        margin: 1%;
    }

    .block2-col1-2 {
        width: 48%;
        margin: 1%;
        float: left;
    }

    .row2 .green-button {
        float: none;
    }
}